{% extends "LanCoreBundle::layout.html.twig" %}

{% block main %}
<div class="profile">
    {# header part #}
    <div class="blurred-image profile-image no-margin-header">
        <div class="image" style="background-image: url('{{ user.cover.WebPath| imagine_filter('profile_banner')}}');"></div>
        <div id="" class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="big-picture-profile" style="background-image: url('{{ user.cover.WebPath | imagine_filter('profile_banner')}}');">
                       <div class="filter">
                       </div>
                       <div class="header-profile">
                            <img id="profile-pic" src="{{ user.WebPath| imagine_filter('profile_pic')}}">
                            <h1>{{ app.user.username }} {% if app.user and app.user == user %}<a href="{{ path("fos_user_profile_edit") }}">Éditer</a>{% endif %}</h1>
                       </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
    {# end header part #}

    <div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="whiteBox">
                Date d'inscription : {{ app.user.dateCreation|date }}<br/>
                Dernière connexion : {{ app.user.lastLogin|date }}<br/>
            </div>
        </div>
    </div>
    </div>


    </div>
</div>

{#{% include "FOSUserBundle:Profile:show_content.html.twig" %} #}
{% endblock main %}
