{% trans_default_domain 'FOSUserBundle' %}
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    <div class="form-group">
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
    </div>
    <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
    </div>
   <div class="form-group">
           {{ form_label(form.plainPassword.first) }}
           {{ form_widget(form.plainPassword.first) }}
   </div>
   <div class="form-group">
           {{ form_label(form.plainPassword.second) }}
           {{ form_widget(form.plainPassword.second) }}
   </div>
    {{ form_widget(form) }}
   <div class="hidden">
     
   </div>
    <div class="">
        <a class="btn" href="{{ path("lan_core_default_index") }}">Annuler</a>
        <input class="btn btn-success btn-flat" type="submit" value="Créer son compte" /> 
    </div>
</form>
